.r3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.chopper{
    width: 150px;
    border-radius: 250px;
    height: 280px;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 4px 15px 10px rgba(0, 0, 0,0.2);
}
.franky{
    width: 150px;
    border-radius: 250px;
    height: 280px;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 4px 15px 10px rgba(0, 0, 0,0.2);
}
.brook{
    width: 150px;
    border-radius: 250px;
    height: 280px;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 4px 15px 10px rgba(0, 0, 0,0.2);
}
.chopper:hover{
    width:250px;
    border-radius: 25px;
}
.franky:hover{
    width:250px;
    border-radius: 25px;
}
.brook:hover{
    width:250px;
    border-radius: 25px;
}

